h1, h2{
  color: #E0001F;
  text-shadow: 0px 1px 1px #555 ;
}

.jumbotron, .panel {
  background-color: #fffebe;
}

.jumbotron {
  border-style: solid;
  border-width: 1px;
}
.jumbotron, .panel-default{
  border-color: #E0001F;
}

.panel-body, .jumbotron > p {
  text-align: justify;
}

.panel-body > p, .jumbotron > p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.panel-default>.panel-heading {
  background-color: #FEC100;
  color: #E0001F;
}

.list-group-item {
  background-color: rgba(255,255,255,0.7);
}

.navbar {
  background-color: #FFC500;
  border-color: #E0001F;
}

.navbar .navbar-nav>li>a {
  color: #E0001F;
}

.navbar .navbar-nav>.active>a, .navbar .navbar-nav>.active>a:focus{
  color: #FFC500;
  background-color: #E0001F;
}

.navbar .navbar-nav>.active>a:hover,
.navbar .navbar-nav>li>a:hover{
  color: #FFF;
  background-color: #E0001F;
  text-shadow: 1px 1px 1px black;
}

.navbar .navbar-collapse, .navbar .navbar-form{
  border-color: #E0001F;
}
